*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #080710;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.shape{
    height: 240px;
    width: 240px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(
        #9806ac,
        #f547bb
    );
    left:-90px;
    top:-20px;
}
.shape:last-child{
    background: linear-gradient(
        #e28d1d,
        #ebc084
    );
    right: -70px;
    bottom: -60px;
}

.clock{
    width: 320px;
    height: 320px;
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left:50%;
    background-color: rgba(255,255,255,0.07);
    backdrop-filter: blur(10px);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 15px solid rgba(255,255,255,0.07);
    box-shadow: 15px 15px 35px rgba(0,0,0,0.2),
    inset 0 0 30px rgba(0,0,0,0.4);
}